{% load static %}
{% load sass_tags %}
{% load thumbnail %}

<!doctype html>
<html>
  <head>
    <title>Sociale Sportschool - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% block handheld %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'main2.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div class="header_container">
      <header>
        <a href="/">
          <img id="home" src="{% static 'home.jpg' %}">
        </a>
        <button class="hamburger">&#9776;</button>
        <a href="/">
          <img id="logo" src="{% static 'logo.png' %}">
        </a>

        <nav>
          {% block navigation %}
            <div class="hamburger_menu" style="display:none">
              <div class="exit">
                <a href="#" onclick="$('.hamburger_menu').toggle(); $('.hamburger').toggle(); return false">✕</a>
              </div>
              <ul>
                <li><a href="/"><img width="30" height="30" src="{% static 'home.jpg' %}"></a></li>
                {% for p in pages %}
                  <li><a href="{% if p.external_url %}{{p.external_url}}{% else %}{% url 'page' p.slug %}{% endif %}" {% if p == page %}class="current"{% endif %}>{{p.title}}</a></li>
                {% endfor %}
              </ul>
            </div>

            <ul class="regular_menu">
              {% for p in pages %}
                <li><a href="{% if p.external_url %}{{p.external_url}}{% else %}{% url 'page' p.slug %}{% endif %}" {% if p == page %}class="current"{% endif %}>{{p.title}}</a></li>
              {% endfor %}
            </ul>
          {% endblock %}
        </nav>

        <div class="account">
          {% block account %}
            {% if user.is_authenticated %}
              <a href="{% url 'bootcamps' %}">MIJN SSS</a>
            {% else %}
              <a href="{% url 'bootcamps' %}">LOG IN</a>
            {% endif %}
          {% endblock %}
        </div>

      </header>
    </div>

    {% if page.mobile_image %}
      <div class="banner mobile" {% if page.image %}style="background-image: url({% thumbnail page.mobile_image 800x800 %})"{% endif %}></div>
    {% else %}
      <div class="banner mobile" {% if page.image %}style="background-image: url({% thumbnail page.image 800x800 %})"{% endif %}></div>
    {% endif %}
    <div class="banner desktop" {% if page.image %}style="background-image: url({{page.image.url}})"{% endif %}></div>

    {% block content %}
    {% endblock %}

    {% block footer %}
      <div class="icons">
        {% for icon in icons %}
          <a href="{{icon.hyperlink}}" target="_blank"><img src="{{icon.image.url}}"></a>
        {% endfor %}
      </div>
      <footer>
        <div class="wrapper">
          <div class="column">
            {{footer.0.content|safe}}
          </div>
          <div class="column">
            {{footer.1.content|safe}}
          </div>
          <div class="column">
            {{footer.2.content|safe}}
          </div>
        </div>
      </footer>
    {% endblock %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
      $('.hamburger').click(function() {
          $('.hamburger_menu').animate({width: 'toggle'});
          $('.hamburger').toggle();
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
          var links = document.querySelectorAll('a');
          for (var link of links) {
              var a = new RegExp('/' + window.location.host + '/');
              if (!a.test(link.href)) {
                  link.addEventListener('click', function(event) {
                      event.preventDefault();
                      event.stopPropagation();
                      window.open(this.href, '_blank');
                  });
              }
          }
      });
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
